html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  max-width: 32em;
  margin: 0 auto;
  padding: 1em;
}

* {
  box-sizing: border-box;
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: 110%;
}

h3, h4, h5, h6 {
  font-size: 100%;
}
